* {
  box-sizing: border-box;
}

.grid {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.row {
  border: 2px solid fuchsia;
  display: flex;
}

.square {
  height: 100px;
  width: 100px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}
